@import url('https://fonts.googleapis.com/css2?family=Flamenco&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fondamento&display=swap');

h1{
    height: 148px;
    width: 100%;
    background-color: #F8F3F4;
    color:#F16D7F;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-transform: uppercase;
    padding-left: 25px;
}

.wrapper {
    display: flex;
    gap: 50px;
    justify-content: space-evenly;
    margin: 25px auto;
    width: 95%;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form p {
    align-self: flex-start;
}

.radio-buttons {
    display: flex;
    justify-content: flex-start;
    width: 358px;
    align-items: center;
}

.radio {
    display: flex;
    justify-content: flex-start;
    width: 50%;
}

input[type="radio"]{
    padding: 5px;
    height: 20px;
    width: 20%;
}

.submit{
    width: 167px;
    background-color: #F16D7F;
    color: #ffffff;
    margin-top: 25px;
    padding:0;
    border:none;
    align-self: flex-start;
}

li {
    list-style-type: "\2713";
}

@media screen and (max-width: 1180px){
    aside {
        margin-top: 25px;
    }

}
@media screen and (max-width: 667px){
    
    h1{
        justify-content: center;
        padding-left:0;
    }
    
    .wrapper {
        display: flex;
        flex-direction: column;
    }

    .form {
        width: 95%;
        margin: 0 auto;
    }

    aside {
        width: 95%;
        margin: 0 auto;
    }
}